
<div class="container"> 
        <h1 style="margin-top: 25px;">
          {{title}}
        </h1>      
        <div class="row" style="margin-top: 25px;">          
            <div class="col-md-3">
              <input type="text" id="nameEdit" class="form-control" [(ngModel)]="projectName" placeholder="Name">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="projectDescription" placeholder="Description">
            </div>
            <div class="col-md-3">
              <button type="button" (click)="create()" [disabled]="(!projectName || !projectDescription) " class="btn btn-primary">+
                Create Project</button>
            </div>
          </div>        
        <div class="row" style="margin-top: 25px;">
          <div class="col-md-3">
            <input type="text" [(ngModel)]="term">
            <div class="card" style="width: 18rem; margin-top: 20px;" *ngFor="let item of projects|filter:term |  paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
              <div class="card-body" *ngIf="!item.isEdit; else elseBlock" >
                <h5 class="card-title">{{item.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Description: {{item.description}}</h6>
                <h6 class="card-subtitle text-muted" >Users: {{item.users }}</h6>
                <h6 class="" >Owner: {{item.owner}}</h6>
                <a href="#" class="card-link btn btn-warning" (click)="edit(item)" [hidden]='!checkRole(item)' >Edit</a>
                <a href="#" class="card-link btn btn-danger" (click)="delete(item.id)" [hidden]='!checkRole(item)' >Delete</a>
              </div>
              <ng-template #elseBlock>
                <div class="card-body">
                  <h5 class="card-title">Edit</h5>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12">
                        <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                      </div>
                      <div class="col-md-12">
                        <input type="text" class="form-control" [(ngModel)]="item.EditDescription" placeholder="Edit Description">
                      </div>
                    </div>
                  </div>       
                  <a href="#" class="card-link" (click)="item.isEdit = false">Cancel</a>
                  <a href="#" class="card-link" (click)="update(item)">Update</a>
                </div>
              </ng-template>
            </div>
            
          </div>

        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
       
       
      </div>