<div class="container mt-4">
    <div class="row justify-content-center ">
        <div class="card col-md-6">
            <form [formGroup]="ProjectNameForm" (ngSubmit)="create()">
                <h5 class="p-4 mt-2 mb-2" id="create-project-modal-label">Create New Project</h5>
                <div class="card-content">
                    <div class="col-md-12 mb-3 form-group">
                        <input type="file" class="form-control" formControlName="img" accept="image/*" (change)="changeListener($event)"
                                [ngClass]="{ 'is-invalid': submitted && f.img.errors }" placeholder="Image" required>                       
                        <div *ngIf="submitted && f.img.errors" class="invalid-feedback">
                            <div *ngIf="f.img.errors.required">Image is required</div>                           
                        </div>
                    </div>
                    <div class="col-md-12 mb-3 form-group">
                    </div>
                    <div class="col-md-12 mb-3 form-group">
                        <input type="text" class="form-control" formControlName="name" name="projectName"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="projectName" required
                            placeholder="Name">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                            <div *ngIf="f.name.errors.minlength">Name should have more than 4 symbols</div>
                            <div *ngIf="f.name.errors.maxlength">Name should have less than 50 symbols</div>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" formControlName="description" name="projectDescription"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                            [(ngModel)]="projectDescription" required placeholder="Description">
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                            <div *ngIf="f.description.errors.minlength">Description should have more than 4 symbols
                            </div>
                            <div *ngIf="f.description.errors.maxlength">Description should have less than 50 symbols
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around p-4 form-group">
                    <button type="button" class="btn btn-secondary" routerLink="/">Cancel</button>
                    <button class="btn btn-success shadow-none" [disabled]="(!projectName || !projectDescription)"><i class="fa fa-save green-icon"></i> Create</button>
                </div>
            </form>

        </div>

    </div>
</div>