<div class="container">
  <div class="row justify-content-center" style="margin: 25px 0 25px 0;">
    <div class="col-md-8 d-flex flex-column align-items-center">
      <button class="btn btn-primary mb-2" style="max-width: 40%" routerLink="/create-project"><i
          class="fa fa-plus"></i> Create</button>
      <input type="text" class="form-control mt-3" aria-label="Default" aria-describedby="inputGroup-sizing-default"
        [(ngModel)]="term" placeholder="Search...">
    </div>
  </div>
  <div class="row " style="margin-top: 25px;">
    <div class="col-md-12">
      <div class="card" style=" margin-top: 20px;"
        *ngFor="let item of projects|filter:term |  paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <div class="card-body row justify-content-around">
          <div class="col-md-3 d-flex flex-column justify-content-between">
            <img class="img-fluid d-block mx-auto" style="border-radius: 100%;max-height: 80%;max-width: 80%;"
              src="{{item.imgref}}" alt="Project">
            <h6 class="text-center pt-4 " style="color: #ff8c00;">{{item.owner}}</h6>
          </div>
          <div class="col-md-9">
            <div class="content mb-4 pb-3">
              <h5 class="card-title">{{item.name}}</h5>
              <h6 class="card-subtitle muted">{{item.description}}</h6>
              <span *ngIf="item.users.length">Users:</span>
              <div class="row justify-content-between pb-2 ml-0 mr-0" *ngFor="let innerItem of item.users;">
                <span [ngClass]='{normal:innerItem.value, dimmed: !innerItem.value}'>{{innerItem.email}} -
                  {{innerItem.role}}</span>
                <a href="#" class="card-link btn btn-danger btn-sm" data-target="#delete-the-user-modal"
                  data-toggle="modal" [hidden]="!checkOwner(item)  && !checkDeveloper(item.users)"
                  (click)="deleteUser(item,innerItem)"><i class="fa fa-user-times"></i></a>
              </div>
            </div>
            <div class="row" style="position: absolute; bottom:0; right:30px;">
              <a href="#" class="card-link btn btn-warning" data-toggle="modal" data-target="#update-the-record-modal"
                [hidden]='!checkOwner(item) && !checkMaintainer(item.users) && !checkDeveloper(item.users)'
                (click)="edit(item)"><i class="fa fa-edit"></i></a>
              <a href="#" class="card-link btn btn-danger" data-toggle="modal" data-target="#delete-the-record-modal"
                [hidden]='!checkOwner(item)'><i class="fa fa-trash"></i></a>
              <a href="#" class="card-link btn btn-success" data-toggle="modal" data-target="#add-the-user-modal"
                [hidden]='!checkOwner(item) && !checkDeveloper(item.users)' (click)='addUserToProject(item)'><i
                  class="fa fa-user-plus"></i></a>
            </div>
          </div>
        </div>

        <div class="modal fade" id="delete-the-record-modal" tabindex="-1" role="dialog"
          aria-labelledby="delete-the-record-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="delete-the-record-modal-label">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Delete the project?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                  (click)="delete(item.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!--delete-modal-->

        <div class="modal fade" id="delete-the-user-modal" tabindex="-1" role="dialog"
          aria-labelledby="delete-the-user-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="delete-the-user-modal-label">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Delete the user?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                  (click)=updateUser(item)>Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!--delete-user-modal-->

        <div class="modal fade" id="add-the-user-modal" tabindex="-1" role="dialog"
          aria-labelledby="add-the-user-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="add-the-user-modal-label">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <select class="form-control dropDownList" [(ngModel)]='selectedOption'>
                  <option *ngFor="let user of users" [ngValue]='user'>{{user.email}}</option>
                </select>
                <select class="form-control dropDownList" [(ngModel)]='selectedRole'>
                  <option value="Developer" selected>Developer</option>
                  <option value="Maintainer">Maintainer</option>
                </select>
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                  (click)=updateProjectUsers(selectedOption,selectedRole)>Send</button>
              </div>
            </div>
          </div>
        </div>
        <!--add-user-modal-->

        <div class="modal fade" id="update-the-record-modal" tabindex="-1" role="dialog"
          aria-labelledby="update-the-record-modal-label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="update-the-record-modal-label">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <input type="text" class="form-control" [(ngModel)]="projectName" placeholder="Edit Name">
                  </div>
                  <div class="col-md-12 mb-3">
                    <input type="text" class="form-control" [(ngModel)]="projectDescription"
                      placeholder="Edit Description">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="projectImg" placeholder="Edit Image">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                  (click)="update(item)">Update</button>
              </div>
            </div>
          </div>
        </div>
        <!--update-modal-->

      </div>
    </div>
  </div>
  <br>
  <pagination-controls autoHide="true" responsive="true" class="text-center" (pageChange)="p = $event">
  </pagination-controls>


</div>