/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
body{
    color: #fff;
    background-color: #374954;
}
.navbar{
    padding: 0;
    background-color: #22242d !important;
}
a {
    text-decoration: none;
}
  
.navbar nav {
    font-family: monospace;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .navbar .nav-link{
    color: #fff !important;

}
.navbar li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: #fff;
  }
  .navbar-brand:hover{
      color: #c76e00 !important;
  }
  
   li:hover,
   li:focus-within {
    background: #c76e00;
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  .current{
    background: #ff8c00 !important;
  }
  .ngx-pagination a:hover{
    background: #c76e00 !important;
    color: #fff;
    text-decoration: none;
  }
  .ngx-pagination a{
      color: #fff !important;
  }

  ul li ul {
    background: #ff8c00;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  .navbar ul li:hover > ul,
  .navbar ul li:focus-within > ul,
  .navbar ul li ul:hover,
  .navbar ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }
.submenu{
  z-index: 100;
  width: 100%;
}
.btn-primary{    
    background-color: #ff8c00;
    border-color: #ff8c00;
}
.btn-primary:hover{
    background-color: #c76e00;
    border-color: #c76e00;
    color: #fff;
}
.btn{
    text-transform: uppercase;
    border-radius: 7px;
    font-weight: 700;
    color: #fff;
}
.btn:hover{
    text-transform: uppercase;
    border-radius: 7px;
    font-weight: 700;
    color: #fff;
}

.modal{
    margin-top: 10%;
}

.card, .modal-content{
    background-color: #22242d;
}
input{
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}
input:focus{
    background-color: #000 !important;
    border-color: #000 !important;
}
.modal-header{
    border-bottom: 1px solid #000;
}
.modal-footer{
    border-top: 1px solid #000;
}
.modal .close{
    color: #fff !important;

}
.card{
    border-bottom: 4px solid #000;
    border-right: 3px solid #000;
    -webkit-box-shadow: 9px 10px 28px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 28px -10px rgba(0,0,0,0.75);
box-shadow: 9px 10px 28px -10px rgba(0,0,0,0.75);

}

.muted{
  color:#c2bdbd !important;
}

#toast-container > div {
  opacity:1 !important;
}

.form-control{
  color: #fff;
}

.select{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;  
  color: #fff;
  background-color: #000;
}