/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

body {
  color: #ffffff;
  background-color: #374954;
}

.navbar {
  padding: 0;
  background-color: #22242d !important;
  -webkit-box-shadow: 9px 10px 28px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 10px 28px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 10px 28px -10px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.navbar nav {
  font-family: monospace;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navbar li {
  float: left;
  padding: 1rem;
  text-decoration: none;
  transition-duration: 0.5s;
}

.navbar .nav-link {
  color: #fff !important;

}

.navbar-brand:hover {
  color: #c76e00 !important;
}

li:hover,
li:focus-within {
  background-clip: padding-box, content-box;
  background-color: #c76e00;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

input {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
  border-radius: 0 !important;
}

input:focus {
  background-color: #000 !important;
  border-color: #000 !important;
  border-radius: 0;
}

.current {
  background: #ff8c00 !important;
}

.ngx-pagination a:hover {
  background: #c76e00 !important;
  color: #fff;
  text-decoration: none;
}

.ngx-pagination a {
  color: #fff !important;
}

.submenu {
  z-index: 100;
  width: 100%;
}

.btn-primary {
  background-color: transparent;
  border-color: #ff8c00;
}

.btn-primary:hover {
  background-color: #c76e00;
  border-color: #c76e00;
  color: #cecdcd;
}

.btn-primary:disabled {
  background-color: transparent !important;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  border-width: 2px;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(darken(#ff8c00, 40%));
  cursor: not-allowed;
}

.btn {
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  border-width: 2px;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(darken(#ff8c00, 40%));
}

.btn:hover {
  outline: none !important;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  color: #cecdcd;
  box-shadow: 0px 15px 25px -5px rgba(darken(#ff8c00, 40%));
  transform: scale(1.03);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: transparent;
  border-color: #ff8c00;
}

.btn:disabled {
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  border-width: 2px;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(darken(#ff8c00, 40%));
  cursor: not-allowed;
}

.btn:active {
  background-color: transparent;
  box-shadow: 0px 4px 8px rgba(darken(#ff8c00, 30%));
  transform: scale(.98);
}

.modal {
  margin-top: 10%;
}

.modal-content {
  background-color: #374954;
}

.card {
  background-color: #22242d;
  border-radius: 0 !important;
}

.modal-header {
  border-bottom: 1px solid #000;
}

.modal-footer {
  border-top: 1px solid #000;
}

.modal .close {
  color: #fff !important;
}

.card {
  border-bottom: 4px solid #000;
  border-right: 3px solid #000;
  -webkit-box-shadow: 9px 10px 28px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 28px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 28px -10px rgba(0, 0, 0, 0.75);
}

.muted {
  color: #c2bdbd !important;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  background-color: #000;
}

.dropdown-list {
  background-clip: content-box, padding-box;
  background-color: #000 !important;
  position: absolute;
  padding-top: 0px !important;
  width: 100%;
  z-index: 9999;
  border: 1px solid #000 !important;
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 0 1px 5px #959595;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  border: 2px solid #ff8c00 !important;
  margin-right: 4px;
  background: transparent !important;
  padding: 3px !important;
  color: #fff;
  border-radius: 0 !important;
  float: left;
}

li .filter-box:hover {
  border-width: 0;
}

.multiselect-dropdown .dropdown-btn .selected-item:hover {
  box-shadow: 0 0 transparent !important;
  border: 2px solid #c76e00 !important;
  margin-right: 4px;
  background: transparent !important;
  padding: 3px !important;
  color: #fff;
  border-radius: 0 !important;
  float: left;
}

.multiselect-item-checkbox input[type="checkbox"]+div {
  position: relative;
  padding-left: 2em;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 0;
  color: #fff !important;
}

.multiselect-item-checkbox input[type="checkbox"]+div::before {
  box-sizing: content-box;
  content: '';
  color: #ff8c00 !important;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #ff8c00 !important;
  text-align: center;
  transition: all .4s ease;
}

.multiselect-item-checkbox input[type="checkbox"]:checked+div::before {
  -webkit-animation: .2s ease-in borderscale;
  animation: .2s ease-in borderscale;
  background: #ff8c00 !important;
}

.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #000 !important;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0 !important;
  background-color: #000;
}

.form-control:focus {
  border-color: #ff8c00;
  box-shadow: inset 0 1px 1px #00000013, 0 0 8px #ff8c00;
}

.red-icon {
  color: #dc3545;
}

.yellow-icon {
  color: #ffc107
}

.green-icon {
  color: #28a745;
}

.orange-icon {
  color: #ff8c00;
}